<head th:fragment="head">
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Charifit</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- <link rel="manifest" href="site.webmanifest"> -->
  <link rel="shortcut icon" type="image/x-icon" th:href="@{/fe/img/favicon.png}">
  <!-- Place favicon.ico in the root directory -->

  <!-- CSS here -->
  <link rel="stylesheet" th:href="@{/fe/css/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{/fe/css/owl.carousel.min.css}">
  <link rel="stylesheet" th:href="@{/fe/css/magnific-popup.css}">
  <link rel="stylesheet" th:href="@{/fe/css/font-awesome.min.css}">
  <link rel="stylesheet" th:href="@{/fe/css/themify-icons.css}">
  <link rel="stylesheet" th:href="@{/fe/css/nice-select.css}">
  <link rel="stylesheet" th:href="@{/fe/css/flaticon.css}">
  <link rel="stylesheet" th:href="@{/fe/css/gijgo.css}">
  <link rel="stylesheet" th:href="@{/fe/css/animate.css}">
  <link rel="stylesheet" th:href="@{/fe/css/slicknav.css}">
  <link rel="stylesheet" th:href="@{/fe/css/style.css}">
  <!-- <link rel="stylesheet" href="css/responsive.css"> -->
</head>