<div class="latest_activites_area" th:fragment="latest_charity">
    <div class=" video_bg_1 video_activite  d-flex align-items-center justify-content-center">
        <a class="popup-video" href="https://www.youtube.com/watch?v=MG3jGHnBVQs">
            <i class="flaticon-ui"></i>
        </a>
    </div>
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-lg-7">
                <div class="activites_info">
                    <div class="section_title">
                        <h3> <span>Watch Our Latest  </span><br>
                            Activities</h3>
                    </div>
                    <p class="para_1">Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do
                        eiusmod tempor incididunt  ut labore dolore magna aliqua.
                        enim minim veniam, quis nostrud exercitation.</p>
                    <p class="para_2">Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do
                        eiusmod tempor incididunt  ut labore dolore magna aliqua.
                        enim minim veniam, quis nostrud exercitation. tempor
                        incididunt  ut labore dolore magna aliqua. enim minim
                        veniam, quis nostrud exercitation.</p>
                    <a href="#" data-scroll-nav='1' class="boxed-btn4">Donate Now</a>
                </div>
            </div>
        </div>
    </div>
</div>