<div class="news__area section_padding" th:fragment="news">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section_title text-center mb-55">
                    <h3><span>News & Updates</span></h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="news_active owl-carousel">
                    <div class="single__blog d-flex align-items-center">
                        <div class="thum">
                            <img th:src="@{/fe/img/news/1.png}" alt="">
                        </div>
                        <div class="newsinfo">
                            <span>July 18, 2019</span>
                            <a href="single-blog.html">
                                <h3>Pure Water Is More
                                    Essential</h3>
                            </a>
                            <p>The passage experienced a
                                surge in popularity during the
                                1960s when used it on their
                                sheets, and again.</p>
                            <a class="read_more" href="single-blog.html">Read More</a>
                        </div>
                    </div>
                    <div class="single__blog d-flex align-items-center">
                        <div class="thum">
                            <img th:src="@{/fe/img/news/2.png}" alt="">
                        </div>
                        <div class="newsinfo">
                            <span>July 18, 2019</span>
                            <a href="single-blog.html">
                                <h3>Pure Water Is More
                                    Essential</h3>
                            </a>
                            <p>The passage experienced a
                                surge in popularity during the
                                1960s when used it on their
                                sheets, and again.</p>
                            <a class="read_more" href="single-blog.html">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>