<div th:fragment="script_index">
  <script th:src="@{/fe/js/vendor/modernizr-3.5.0.min.js}"></script>
  <script th:src="@{/fe/js/vendor/jquery-1.12.4.min.js}"></script>
  <script th:src="@{/fe/js/popper.min.js}"></script>
  <script th:src="@{/fe/js/bootstrap.min.js}"></script>
  <script th:src="@{/fe/js/owl.carousel.min.js}"></script>
  <script th:src="@{/fe/js/isotope.pkgd.min.js}"></script>
  <script th:src="@{/fe/js/ajax-form.js}"></script>
  <script th:src="@{/fe/js/waypoints.min.js}"></script>
  <script th:src="@{/fe/js/jquery.counterup.min.js}"></script>
  <script th:src="@{/fe/js/imagesloaded.pkgd.min.js}"></script>
  <script th:src="@{/fe/js/scrollIt.js}"></script>
  <script th:src="@{/fe/js/jquery.scrollUp.min.js}"></script>
  <script th:src="@{/fe/js/wow.min.js}"></script>
  <script th:src="@{/fe/js/nice-select.min.js}"></script>
  <script th:src="@{/fe/js/jquery.slicknav.min.js}"></script>
  <script th:src="@{/fe/js/jquery.magnific-popup.min.js}"></script>
  <script th:src="@{/fe/js/plugins.js}"></script>
  <script th:src="@{/fe/js/gijgo.min.js}"></script>
  <!--contact js-->
  <script th:src="@{/fe/js/contact.js}"></script>
  <script th:src="@{/fe/js/jquery.ajaxchimp.min.js}"></script>
  <script th:src="@{/fe/js/jquery.form.js}"></script>
  <script th:src="@{/fe/js/jquery.validate.min.js}"></script>
  <script th:src="@{/fe/js/mail-script.js}"></script>

  <script th:src="@{/fe/js/main.js}"></script>

</div>