<!DOCTYPE html>
<html class="no-js"  xmlns:th="http://www.thymeleaf.org">

<div th:replace="/layout/head::head"></div>

<body>

    <!-- header-start -->
    <div th:replace="/layout/header::header"></div>
    <!-- header-end -->

    <!-- slider_area_start -->
    <div th:replace="/layout/slider::slider"></div>
    <!-- slider_area_end -->

    <!-- reson_area_start  -->
    <div th:replace="/layout/reson::reson"></div>
    <!-- reson_area_end  -->

    <!-- latest_activites_area_start  -->
    <div th:replace="/layout/latest_charity::latest_charity"></div>
    <!-- latest_activites_area_end  -->

    <!-- popular_causes_area_start  -->
    <div th:replace="/layout/popular_charity::popular_charity"></div>
    <!-- popular_causes_area_end  -->

    <!-- counter_area_start  -->
    <div th:replace="/layout/counter::counter"></div>
    <!-- counter_area_end  -->

    <!-- news__area_start  -->
    <div th:replace="/layout/news::news"></div>
    <!-- news__area_end  -->

    <!-- make_donation_start  -->
    <div th:replace="/layout/donation::donation"></div>
    <!-- make_donation_end  -->

    <!-- footer_start  -->
    <div th:replace="/layout/footer::footer"></div>
    <!-- footer_end  -->

    <!-- link that opens popup -->

    <!-- JS here -->
    <div th:replace="/layout/script::script_index"></div>
</body>

</html>